<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.dao.FinancialstatisticsMapper">


    <select id="findAllFinancialstatistics" resultType="financialstatistics">
        select * from financialstatistics limit #{limit} offset #{offset};
    </select>

    <select id="findFinancialstatisticsByPayTime" resultType="financialstatistics">
        SELECT * from financialstatistics where payTime between #{start} and #{end} limit #{limit} offset #{offset}
    </select>

    <insert id="addFinancialstatistics" parameterType="financialstatistics">
        insert into financialstatistics VALUES (
        NULL ,
        #{payTime},
        #{stayregisterdetailsId},
        #{passengerNumber},
        #{consumptionMoney}
        #{sumConst},
        )
    </insert>

    <select id="getTotalItems" resultType="int">
        SELECT COUNT(*) from financialstatistics
    </select>


    <select id="getzhuSuRenShu" resultType="int">
        SELECT passengerNumber from financialstatistics
    </select>

    <select id="getxiaoFeiJinE" resultType="float">
        SELECT consumptionMoney from financialstatistics
    </select>

    <select id="getJieZhangJinE" resultType="float">
        SELECT sumConst from financialstatistics
    </select>

    <select id="getFinancialstatisticsparticular" parameterType="int" resultMap="fsp">
        SELECT * FROM stayregister LEFT OUTER JOIN predetermine ON stayregister.predetermineId = predetermine.predetermineId
LEFT OUTER JOIN room ON predetermine.roomNumber=room.roomNumber
LEFT OUTER JOIN passenger ON stayregister.passengerName=passenger.name
LEFT OUTER JOIN receivetarget ON receivetarget.id=predetermine.teamId
WHERE srId = #{stayregisterdetailsId}
    </select>

    <resultMap id="fsp" type="financialstatisticsparticular">
        <result property="roomGuestRoomLevelName" column="guestRoomLevelName"/>
        <result property="receiveTeamName" column="lvkeleixing"/>
        <result property="passengerGenderName" column="genderID"/>
        <result property="passengerName" column="stayregister.passengerName"/>
        <result property="passengerPapersNumber" column="papersNumber"/>
        <result property="pssengerContactPhoneNumber" column="passenger.contactPhoneNumber"/>
        <result property="passengerTypeName" column="lvkeleixing"/>
        <result property="passengerLevelName" column="passengerLevelID"/>
        <result property="billUnitName" column="isBill"/>
        <result property="roomStandardPriceDay" column="standardPriceDay"/>
        <result property="roomStandardPrice" column="standardPrice"/>
        <result property="roomFirstPrice" column="firstPrice"/>
        <result property="predeterminePassengerName" column="predetermine.passengerName"/>
        <result property="predeterminePassengerContactPhoneNumber" column="predetermine.passengerContactPhoneNumber"/>
    </resultMap>
</mapper>