<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.dao.RoomMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.bean.Room">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="roomNumber" jdbcType="VARCHAR" property="roomNumber"/>
        <result column="guestRoomLevelName" jdbcType="VARCHAR" property="guestRoomLevelName"/>
        <result column="roomStateID" jdbcType="INTEGER" property="roomStateID"/>
        <result column="roomAmount" jdbcType="INTEGER" property="roomAmount"/>
        <result column="standardPriceDay" jdbcType="DOUBLE" property="standardPriceDay"/>
        <result column="standardPrice" jdbcType="DOUBLE" property="standardPrice"/>
        <result column="maxDuration" jdbcType="INTEGER" property="maxDuration"/>
        <result column="firstDuration" jdbcType="INTEGER" property="firstDuration"/>
        <result column="firstPrice" jdbcType="DOUBLE" property="firstPrice"/>
        <result column="roomName" jdbcType="VARCHAR" property="roomName"/>
        <result column="guestRoomLevelID" jdbcType="INTEGER" property="guestRoomLevelID"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, roomNumber, guestRoomLevelName, roomStateID, roomAmount, standardPriceDay, standardPrice,
        maxDuration, firstDuration, firstPrice, roomName, guestRoomLevelID
    </sql>

    <select id="findRoomById" parameterType="int" resultMap="BaseResultMap">

        SELECT * FROM room  WHERE id = #{id}

    </select>


    <select id="findAllRoom" parameterType="com.cskaoyan.utils.RoomVO" resultMap="BaseResultMap">

        SELECT * FROM room LIMIT #{limit} OFFSET #{offset}

    </select>

    <select id="findRoomByRoomNumber" parameterType="com.cskaoyan.utils.RoomVO" resultMap="BaseResultMap">

        SELECT * FROM room  WHERE roomNumber LIKE  #{roomNumber} LIMIT #{limit} OFFSET #{offset}

    </select>

    <delete id="deleteByPrimaryKey">
        delete from room
        <where>
            <foreach collection="array" item="id">
               OR id = #{id}
            </foreach>
        </where>
    </delete>

    <insert id="insertSelective" parameterType="com.cskaoyan.bean.Room">
        insert into room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roomNumber != null">
                roomNumber,
            </if>
            <if test="guestRoomLevelName != null">
                guestRoomLevelName,
            </if>
            <if test="roomStateID != null">
                roomStateID,
            </if>
            <if test="roomAmount != null">
                roomAmount,
            </if>
            <if test="standardPriceDay != null">
                standardPriceDay,
            </if>
            <if test="standardPrice != null">
                standardPrice,
            </if>
            <if test="maxDuration != null">
                maxDuration,
            </if>
            <if test="firstDuration != null">
                firstDuration,
            </if>
            <if test="firstPrice != null">
                firstPrice,
            </if>
            <if test="roomName != null">
                roomName,
            </if>
            <if test="guestRoomLevelID != null">
                guestRoomLevelID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="roomNumber != null">
                #{roomNumber,jdbcType=VARCHAR},
            </if>
            <if test="guestRoomLevelName != null">
                #{guestRoomLevelName,jdbcType=VARCHAR},
            </if>
            <if test="roomStateID != null">
                #{roomStateID,jdbcType=INTEGER},
            </if>
            <if test="roomAmount != null">
                #{roomAmount,jdbcType=INTEGER},
            </if>
            <if test="standardPriceDay != null">
                #{standardPriceDay,jdbcType=DOUBLE},
            </if>
            <if test="standardPrice != null">
                #{standardPrice,jdbcType=DOUBLE},
            </if>
            <if test="maxDuration != null">
                #{maxDuration,jdbcType=INTEGER},
            </if>
            <if test="firstDuration != null">
                #{firstDuration,jdbcType=INTEGER},
            </if>
            <if test="firstPrice != null">
                #{firstPrice,jdbcType=DOUBLE},
            </if>
            <if test="roomName != null">
                #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="guestRoomLevelID != null">
                #{guestRoomLevelID,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cskaoyan.bean.Room">
        update room
        <set>
            <if test="roomNumber != null">
                roomNumber = #{roomNumber,jdbcType=VARCHAR},
            </if>
            <if test="guestRoomLevelName != null">
                guestRoomLevelName = #{guestRoomLevelName,jdbcType=VARCHAR},
            </if>
            <if test="roomStateID != null">
                roomStateID = #{roomStateID,jdbcType=INTEGER},
            </if>
            <if test="roomAmount != null">
                roomAmount = #{roomAmount,jdbcType=INTEGER},
            </if>
            <if test="standardPriceDay != null">
                standardPriceDay = #{standardPriceDay,jdbcType=DOUBLE},
            </if>
            <if test="standardPrice != null">
                standardPrice = #{standardPrice,jdbcType=DOUBLE},
            </if>
            <if test="maxDuration != null">
                maxDuration = #{maxDuration,jdbcType=INTEGER},
            </if>
            <if test="firstDuration != null">
                firstDuration = #{firstDuration,jdbcType=INTEGER},
            </if>
            <if test="firstPrice != null">
                firstPrice = #{firstPrice,jdbcType=DOUBLE},
            </if>
            <if test="roomName != null">
                roomName = #{roomName,jdbcType=VARCHAR},
            </if>
            <if test="guestRoomLevelID != null">
                guestRoomLevelID = #{guestRoomLevelID,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>