<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.dao.StayRegisterMapper">


    <select id="findAllStayRegister" parameterType="string" resultType="stayRegister">
       SELECT * from stayregister where isBill = #{isbill}
   </select>

    <select id="findPartStayRegister" resultType="stayRegister">
        SELECT * from stayregister left OUTER join predetermine on
        stayregister.predetermineId=predetermine.predetermineId
        <where>
            <if test="roomNumber != null and roomNumber!=''">
                and roomNumber LIKE #{roomNumber}
            </if>
            <if test="isBill != null and isBill!=''">
                and isBill=#{isBill}
            </if>
            <if test="lvkeleixing != null and lvkeleixing!=''">
                and lvkeleixing = #{lvkeleixing}
            </if>
        </where>
        limit #{limit} offset #{offset}
    </select>

    <select id="gettotalItems" resultType="int">
        SELECT COUNT(*) from stayregister left OUTER join predetermine on stayregister.predetermineId=predetermine.predetermineId
        <where>
            <if test="roomNumber != null and roomNumber!=''">
                and roomNumber LIKE #{roomNumber}
            </if>
            <if test="isBill != null and isBill!=''">
                and isBill = #{isBill}
            </if>
            <if test="lvkeleixing != null and lvkeleixing!=''">
                and lvkeleixing = #{lvkeleixing}
            </if>
    </where>
</select>

    <update id="updateByPrimaryKeySelective" parameterType="stayRegister">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Apr 14 17:52:22 CST 2018.
        -->
        update stayregister
        <set>
            <if test="predetermineId != null">
                predetermineId = #{predetermineId,jdbcType=INTEGER},
            </if>
            <if test="passengerName != null">
                passengerName = #{passengerName,jdbcType=VARCHAR},
            </if>
            <if test="changingRoomNumber != null">
                changingRoomNumber = #{changingRoomNumber,jdbcType=INTEGER},
            </if>
            <if test="changRoomMoney != null">
                changRoomMoney = #{changRoomMoney,jdbcType=REAL},
            </if>
            <if test="changRoomTime != null">
                changRoomTime = #{changRoomTime,jdbcType=TIMESTAMP},
            </if>
            <if test="registerTime != null">
                registerTime = #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="sumConst != null">
                sumConst = #{sumConst,jdbcType=REAL},
            </if>
            <if test="isBill != null">
                isBill = #{isBill,jdbcType=VARCHAR},
            </if>
            <if test="lvkeleixing != null">
                lvkeleixing = #{lvkeleixing,jdbcType=VARCHAR},
            </if>
        </set>
        where srId = #{srId,jdbcType=INTEGER}
    </update>

    <insert id="addStayRegister" parameterType="stayRegister">
        INSERT into stayregister VALUES (null,#{predetermineId,jdbcType=INTEGER},#{passengerName,jdbcType=VARCHAR},#{changingRoomNumber,jdbcType=INTEGER},#{changRoomMoney,jdbcType=REAL},#{changRoomTime,jdbcType=TIMESTAMP},#{registerTime,jdbcType=TIMESTAMP},#{sumConst,jdbcType=REAL},#{isBill,jdbcType=VARCHAR},#{lvkeleixing,jdbcType=VARCHAR})
    </insert>

    <select id="getAllMessage" parameterType="int" resultMap="srd">
        SELECT * from stayregister left OUTER join predetermine on
        stayregister.predetermineId=predetermine.predetermineId
        where srId = #{srId}
    </select>
    
    <resultMap id="srd" type="com.cskaoyan.bean.StayRegisterDetails">
        <id column="srId" property="id"></id>
        <result property="roomGuestRoomLevelName" column="guestRoomLevelName"></result>
        <result property="predetermineReceiveTargeTypeName" column="receiveTargetTypeName"/>
        <result property="passengerTypeName" column="lvkeleixing"/>
    </resultMap>
</mapper>
